/* css position */
.like {
  background-color: #000;
  padding: 10px;

  p{
    border: 1px red solid;
    position: relative;
    background-color: rgb(255 255 80 /1);
    bottom: 20px;
    right: 10px;
  }
}

/* fixed 값 */
h1{
  background-color: pink;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 9999;
}

/* adsolute 값 */
/* 컨테이닝 기준으로 배치 */
.bootcamp {
  border: 1px solid blue;
  position: relative;

  span {
    background-color: rgb(100 255 30 / 0.5);
    border : 1px solid black;
    position : absolute;
    top : 20px;
    left: 0;

 }
}

/* sticky */
.frontend {
  background: var(--mint);
  position: sticky;
  top: 0;
}